.preventa{
    border: 2px solid #000;
    background-color: var(--tipme-yellow);
    padding: 7px 12px;
    border-radius: 5px;
    font-size: .85em;
    right: calc(50% - 56px);
    position: absolute;
    bottom: -10px;
}
.content-change-stock{
    position: absolute;
    top: 85px;
    left: 0;
    height: calc( 100vh - 85px );
    width: 100%;
    background: transparent;
}
.content-change-stock .content-stock{
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #FFF;
    width: 100%;
    z-index: 4;
    padding: .6rem 1.5rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.circle-btn{
    display: inline-flex;
    border-radius: 50%;
    vertical-align: middle;
    line-height: 1;
    font-size: 21px;
    font-weight: 600;
    border: 1px solid #000;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    padding-bottom: 4px;
    color: #000;
}