<div class="bg-gray full-scren-h">
    <div style="max-width: 550px;margin: 0 auto;">
        <div nz-row class="bg-gray full-scren-h align-items-center" >
            <div nz-col nzSpan="24" class="">
                <div nz-row>
                    <div nz-col nzSpan="24" class="text-center px-4 mb-5">
                        <img [src]="routeAsset+'/assets/img/LOGO.png'" alt="" class="img-fluid">
                    </div>
                    <div nz-col nzSpan="24" class="text-center px-4 mb-3">
                        <h2>INICIAR SESIÓN</h2>
                    </div>
                    <div nz-col nzSpan="24" class="text-center px-4 mb-1">
                        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
                            <nz-form-item>
                              <nz-form-control >
                                <input nz-input name="email" type="email" id="email" class="form-control" placeholder="Correo / Email" formControlName="email">
                              </nz-form-control>
                            </nz-form-item >
        
                            <nz-form-item>
                                <nz-form-control >
                                  <input nz-input name="password" type="password" id="password" class="form-control" placeholder="Contraseña" formControlName="password">
                                </nz-form-control>
                            </nz-form-item >
                            <div class="text-center mb-3">
                                <a [routerLink]="['/register']" class="link-secondary">Registrarse si no tengo una cuenta</a>
                            </div>
                            <button nz-button class="btn w-100 py-3 mb-4" [nzType]="'primary'" [disabled]="loading"> <i nz-icon nzType="loading" *ngIf="loading"></i> INGRESAR</button>
                            <div class="text-center mb-3">
                                <a [routerLink]="['/']">Continuar como invitado</a>
                            </div>
                        </form>
                    </div>
                </div> 
                
            </div> 
        </div>
    </div>
</div>

