/* You can add global styles to this file, and also import other style files */
:root{
    --tipme-gray: #f5f5f5;
    --bs-primary: #e94985;
    --tipme-yellow: #f0e669;
}
@font-face {
    font-family: "Hanson-Bold";
    src: url("assets/fonts/Hanson-Bold.otf");
    src: url("assets/fonts/Hanson-Bold.ttf");
}
body{
    line-height: 1.2 !important;
}
h1, h2, h3, h4 ,h5{
    font-family: "Hanson-Bold" !important;
}
.container{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px){
    .container{max-width: 540px;}
}
@media (min-width: 768px){
    .container{max-width: 720px;}
}
@media (min-width: 992px){
    .container{max-width: 960px;}
}
@media (min-width: 1200px){
    .container{max-width: 1140px;}
}
@media (min-width: 1400px){
    .container{max-width: 1320px;}
}
.border-0.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-active::after, .border-0.ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-submenu-open::after{
    border: 0 !important;
}
.full-scren-h{
    min-height: 100vh;
}
.bg-gray{
    background-color: var(--tipme-gray);
}
.form-control:not(.ant-input-status-error){
    padding: 18px 12px !important;
}
.form-control:not(.ant-input-status-error),.form-control-select .ant-select-selector:not(.ant-select-status-error){
    border-radius: 10px !important;
    
    border: 0 !important;
}


.btn{
    height: auto !important;
    border-radius: 10px !important;
}

.ant-menu-submenu-popup > .ant-menu{
    border-radius: 5px;
}
.submenu-cdk-cont{
    left: -150px !important;
    position: absolute !important;
}


.dropzone {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 80vw;
    font-weight: 200;
    height: 300px;
    border: 2px dashed #f16624;
    border-radius: 5px;
    background: white;
    margin: 10px 0;
}

.fileupload {
    /* background-image: url("./assets/upload-icon.png"); */
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    background-color: #ffffff;
    height: 100px;
    width: 100%;
    cursor: pointer;
    /* border: 2px dashed #0f68ff; */
    border-radius: 6px;
    margin-bottom: 25px;
    background-position: center 28px;
}
.dropzone.hovering {
    border: 2px solid #f16624;
    color: #dadada !important;
}
.dropzone .file-label {
    font-size: 1.2em;
}
progress::-webkit-progress-value {
    transition: width 0.1s ease;
}
.ant-input[disabled]{
    background-color: #e4e4e4 !important;
}