<div class="margin-auto" style="background-color: #ff4f89;min-height: 100vh;">
    <div nz-row class="background-home pt-4" style="max-width: 550px;margin: 0 auto;">
        <div nz-col nzSpan="24" class="">
            <div nz-row>
                <div nz-col nzSpan="24" class="text-end mb-3" *ngIf="!user?.isadmin">
                    <div class="d-flex justify-content-end px-4">
                        <a [routerLink]="['/tickets']" class="circle-close">
                            <img [src]="routeAsset+'/assets/img/close.png'" alt="" width="10px">
                        </a>
                    </div>
                </div>
                <div nz-col nzSpan="24" class="text-center mb-3">
                    <h5 class="text-white">TICKET N°{{ticket?.ticket}}</h5>
                </div>
                <div nz-col nzSpan="24" class="text-center mb-3">
                    <img [src]="host+'/'+ticket?.qr_path" alt="" width="200px">
                </div>
                <div nz-col nzSpan="24" class="text-center mb-3">
                    <p class="text-white mb-1 fw-bold fs-6">NOMBRES</p>
                    <p class="text-white mb-4d fs-6">{{ticket?.name}} {{ticket?.lastname}}</p>
                    <p class="text-white mb-1 fw-bold fs-6">DNI</p>
                    <p class="text-white mb-4 fs-6">{{ticket?.dni}}</p>
                </div>
                <div nz-col nzSpan="24" class="text-center mb-2 px-5">
                    <hr class="bg-white">
                </div>
                <div nz-col nzSpan="24" class="text-center mb-3 pt-3">
                    <div class="bg-white p-2 position-relative d-inline-block">
                        <img [src]="routeStorage+'/'+ticket?.event_path" alt="" width="150px">
                    </div>
                    
                </div> 
                <div nz-col nzSpan="24" class="text-center mb-3 px-5">
                    <h5  class="text-white mb-3 fw-bold">{{ticket?.event_title}}</h5>
                    <p  class="text-white mb-2 fw-bold">{{ ticket?.event_date | date : "dd 'de' MMMM 'de' YYYY" }}</p>
                    <p  class="text-white mb-1 fw-bold">{{ ticket?.event_time }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

