
<div class="bg-yellow d-flex align-items-center full-scren-h">
    <div style="max-width: 550px;margin: 0 auto;">
        <div nz-row class="bg-yellow align-items-center pt-4" >
            <div nz-col nzSpan="24" class="text-center mb-3">
                <img [src]="routeAsset+'/assets/img/checked.png'" alt="" width="40px" class="mb-4">
                <h2 class="mb-0">PAGO</h2>  
                <h2>CONFIRMADO</h2>
            </div>
            <div nz-col nzSpan="24" class="text-center mb-4 lh-1">
                <p class="mb-2">EDUADO!</p>
                <p class="mb-1">Tu reserva está confirmada</p>
                <p class="mb-1">te enviaremos un correo</p>
                <p class="mb-1">con tus entradas</p>
            </div>
            <div nz-col nzSpan="24" class="text-center mb-2">
                <a [routerLink]="['/']" class="d-inline-block btn-back">REGRESAR</a>
            </div>
            <div nz-col nzSpan="24" class="text-center mb-3 px-4">
                <img [src]="routeAsset+'/assets/img/dizco-confirmacion.jpg'" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</div>
