<div class="margin-auto" style="background-color: #ff4f89;">
<div nz-row class="background-home pt-4" style="max-width: 550px;margin: 0 auto;">
    <div nz-col nzSpan="24" class="">
        <div nz-row>
            <div nz-col nzSpan="24" class="text-end mb-5">
            
                <ul nz-menu nzMode="horizontal" class="border-0 bg-transparent text-end pe-4">
                    <ng-container *ngIf="!user">
                        <li nz-menu-item class="px-1">
                            <a [routerLink]="['/login']" rel="noopener noreferrer">
                                <div class="circle-avatar">
                                    <img [src]="routeAsset+'/assets/img/enter.png'" alt="" width="20px">
                                </div>
                            </a>
                        </li>
                    </ng-container>
                    <ng-container *ngIf="user">
                        <ng-template #nzSubmenuUser>
                            <div class="circle-avatar">
                                <img [src]="routeAsset+'/assets/img/user.png'" alt="" width="20px">
                            </div>
                        </ng-template>
                        <li nz-submenu [nzTitle]="nzSubmenuUser" class="px-1" nzMenuClassName="submenu-cdk-cont">
                            <ul>
                                <li nz-menu-item>
                                    <a [routerLink]="['/profile']">Mi cuenta</a>
                                </li>
                                <li nz-menu-item>
                                    <a [routerLink]="['/events']">Eventos</a>
                                </li>
                                <ng-container *ngIf="user.isadmin">
                                    <li nz-menu-item>
                                        <a [routerLink]="['/events/add']">Agregar Evento</a>
                                    </li>
                                </ng-container>
                                <li nz-menu-item>
                                    <a [routerLink]="['/tickets']"><span *ngIf="user.isadmin">Tickets comprados</span><span *ngIf="!user.isadmin">Mis Tickets</span></a>
                                </li>
                                <li nz-menu-item>
                                    <a href="javascript: void(0);" (click)="logout()">Cerrar Sesión</a>
                                </li>
                            </ul>
                        </li>
                    </ng-container>
                    
                    <li nz-menu-item class="px-1">
                        <a [routerLink]="['/']" target="_blank" rel="noopener noreferrer">
                            <div class="circle-avatar">
                                <img [src]="routeAsset+'/assets/img/share.png'" alt="" width="20px">
                            </div>
                            
                        </a>
                    </li>
                </ul>
            </div>
            <div nz-col nzSpan="24" class="text-center px-4 mb-3">
                <img [src]="routeAsset+'/assets/img/LOGO.png'" alt="" class="img-fluid">
            </div>
            <div nz-col nzSpan="24" class="text-center">
                <ul class="list-unstyled p-0 px-4">
                    <li>
                        <a [routerLink]="['/events']" class="section-link py-3 mb-3">
                            <img [src]="routeAsset+'/assets/img/ticket.png'" alt="" width="50px" class="me-3">
                            <span>COMPRAR TICKETS</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://wa.me/message/UNBQX7RYBOJWK1" target="_blank" class="section-link py-3 mb-3">
                            <img [src]="routeAsset+'/assets/img/champagne.png'" alt="" width="50px" class="me-3">
                            <span>VENTA DE MESAS</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="" (click)="onViewPlaylist()" class="section-link py-3 mb-3">
                            <img [src]="routeAsset+'/assets/img/headphones.png'" alt="" width="50px" class="me-3">
                            <span>PLAYLIST DIZCO</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="section-link py-3 mb-3">
                            <img [src]="routeAsset+'/assets/img/moustache.png'" alt="" width="50px" class="me-3">
                            <span>FOTOS Y VIDEOS</span>
                        </a>
                    </li>

                    
                </ul>
                <div class="px-3" *ngIf="playlist">
                    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/4cjC2hJPRAWfABrMIqBZnN?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
</div>