<div nz-row class="pt-3">
    <div nz-col nzSpan="24" class="text-center mb-4">
        <h3>INVITADOS</h3>
    </div>
    <div nz-col nzSpan="24" class="mb-5 px-3">
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
            <div nz-row class="">
                <div nz-col nzSpan="24" class="mb-2" formArrayName="guestList">
                    <ng-container *ngFor="let q of guestsArray.controls;let i = index" [formGroupName]="i" >
                        <div class="mb-2">
                            <div nz-row class="">
                                <div nz-col nzSpan="24" class="mb-2">
                                    <span>INVITADO #{{i + 1}} <span *ngIf="i == 0"><b>(YO)</b> {{user? 'Haz iniciado sesión' : ''}}</span></span>
                                    <p class="mb-0" *ngIf="!user && i == 0"> Continua como invitado o <a [routerLink]="['/login']">Ingresa a tu cuenta</a></p>

                                </div>
                            </div>
                            <div nz-row class="">
                                <div nz-col nzSpan="12" class="mb-1 pe-3">
                                    <nz-form-item class="mb-0">
                                        <nz-form-control  nzErrorTip="Campo requerido">
                                        <input nz-input formControlName="name" class="form-control" placeholder="Nombre"/>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                                <div nz-col nzSpan="12" class="mb-1">
                                    <nz-form-item class="mb-0">
                                        <nz-form-control  nzErrorTip="Campo requerido">
                                        <input nz-input formControlName="lastname" class="form-control" placeholder="Apellido"/>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                            </div>
                            <div nz-row class="" *ngIf=" i == 0">
                                <div nz-col nzSpan="24" class="mb-2">
                                    <nz-form-item class="mb-0">
                                        <nz-form-control  nzErrorTip="Campo requerido">
                                            <input nz-input formControlName="email" class="form-control" placeholder="Email" />
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                            </div>
                            <div nz-row class="">
                                <div nz-col nzSpan="24" class="mb-2">
                                    <nz-form-item class="mb-0">
                                        <nz-form-control  [nzErrorTip]="errorDNI">
                                        <input nz-input formControlName="dni" class="form-control" placeholder="DNI"/>
                                        </nz-form-control>
                                    </nz-form-item>
                                    <ng-template #errorDNI let-control>
                                        <ng-container *ngIf="control.hasError('required')">Campo requerido</ng-container>
                                        <ng-container *ngIf="control.hasError('maxLength')">Campo DNi solo requiere 8 digitos</ng-container>
                                        <ng-container *ngIf="control.hasError('pattern')">Campo DNi solo requiere números</ng-container>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div nz-col nzSpan="24" class="mb-2">
                    <nz-form-item nz-row >
                        <nz-form-control [nzSpan]="24">
                          <label nz-checkbox formControlName="agree" (ngModelChange)="onChangeTerm($event)">
                            <span>Acepto los Términos y condiciones</span> <b>(No valido devoluciones)</b>    
                          </label>
                        </nz-form-control>
                      </nz-form-item>
                </div>
            </div>
            
        </form>

        <div nz-row class="">
            <div nz-col nzSpan="24" class="mb-2">
                <button class="btn w-100 fs-5 py-4" nz-button [nzType]="'primary'" (click)="submitForm()" [disabled]="loadingDisabled">
                    <i nz-icon nzType="loading" *ngIf="loading"></i> S/ {{total}} | CONTINUAR COMPRA
                </button>
            </div>
        </div>

    </div>
</div>
