<div nz-row class="pt-4" *ngIf="!loading">
    <div nz-col nzSpan="24" class="px-3">
        <section class="bg-white mb-3" *ngFor="let event of events ">
            <a [routerLink]="['/events/detail', event.id]" class="lh-1 d-block">
                <div nz-row class="align-items-center">
                    <div nz-col nzSpan="8" class="h-100">
                        <img [src]="routeStorage+'/'+event.avatar_path" alt="" class="img-fluid">
                    </div>
                    <div nz-col nzSpan="16" class="py-2 px-2">
                        <div class="d-flex flex-column">
                            <p class="text-primary mb-1 lh-1">{{event.date | date: 'YYYY/MM/dd'}}</p>
                            <h5 class="mb-1 lh-1">{{event.title}}</h5>
                            <div nz-row class="">
                                <div nz-col nzSpan="10" class="">
                                    <h6 class="m-0">S/ {{event.price}}</h6>
                                </div>
                                <div nz-col nzSpan="14" class="">
                                    <div class="d-flex justify-content-end">
                                        <div class="preventa d-inline text-dark" *ngIf="event.isdiscount">
                                            PRE VENTA {{event.discount}}%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </a>
        </section>
        <section *ngIf="events.length == 0" class="text-center">
            <h2>No hay eventos disponibles</h2>
        </section>
    </div>
</div>
<app-loading [loading]="loading"></app-loading>